.exit-user {
	background-image : url(../../resources/images/exit.gif);
}
.x-action-col-cell img.ex-col {
	background-image : url(../../resources/images/ex.gif);
	height : 16px;
	width : 16px;
	cursor : pointer;
}

.x-boundlist-item img.chkCombo {
	background: transparent url(../../resources/images/unchecked.gif);
	background-position:center;
	background-repeat:no-repeat;
	width: 7%;
	height: 7%;
	cursor : pointer;
}
.x-boundlist-selected img.chkCombo{
	background: transparent url(../../resources/images/checked.gif);
	background-position:center;
	background-repeat:no-repeat;
	width: 7%;
	height: 7%;
	cursor : pointer;
}

.smallComboField {
	font-size: 9px;
	margin-left: 3px
}

.excel {
	background-image : url(../../resources/images/excel_.png);
}
.import {
	background-image : url(../../resources/images/import.png);
}
.download {
	 background: url(../../resources/images/download.png);
}
.payico {
	background-image : url(../../resources/images/payico.png);
}
.overduebox {
	background-image : url(../../resources/images/overdue.png);
}
.list {
	background-image : url(../../resources/images/list.png);
}
.templ {
	background-image : url(../../resources/images/template.png);
}
.track {
	background-image : url(../../resources/images/track.png);
}
.calc {
	background-image : url(../../resources/images/calculator.png);
}
.find {
	 background: url(../../resources/images/find.png);
 }
.wbno {
	background-image : url(../../resources/images/wbno.png);
}
.wbtemplate {
	background-image : url(../../resources/images/wbtemplate.jpg);	
	background-repeat: no-repeat;
	background-size: contain;	
}
.wbview {
	background-image : url(../../resources/images/wbview.png);	
}
.longstr, textarea.x-form-field {
	background-color: transparent;
	border-style: none;
	background-image: none;
	font-family: Courier New;
}
.otherstr {		
	font-family: Courier New;
}
.newex {
	background-image : url(../../resources/images/newex.png);
}
.newpod {
	background-image : url(../../resources/images/newpod.png);
}
.pod {
	background-image : url(../../resources/images/pod.gif);
}
.filter {
	background-image : url(../../resources/images/filter_.png);
}
.inbox {
	background-image : url(../../resources/images/outbox.png);
}
.outbox {
	background-image : url(../../resources/images/inbox.png);
}
.webwb {
	background-image : url(../../resources/images/webwb.png);
}
.webwbprint {
	background-image : url(../../resources/images/webwbprint.png);
}
.allbox {
	background-image : url(../../resources/images/allbox.png);
}
.newdoc {
	background-image : url(../../resources/images/newdoc.png);
}
.newtpl {
	background-image : url(../../resources/images/fromtpl.png);
}
.help {
	background-image : url(../../resources/images/book.png);
}.viewdoc {
	background-image : url(../../resources/images/viewdoc.png);
}
.editdoc {
	background-image : url(../../resources/images/editdoc.png);
}
.deldoc {
	background-image : url(../../resources/images/delet.png);
}
.adduser {
	background-image : url(../../resources/images/adduser.png);
}
.x-action-col-cell img.red-usr {
	background-image : url(../../resources/images/userred.png);
	height : 16px;
	width : 16px;	
}
.x-action-col-cell img.gre-usr {
	background-image : url(../../resources/images/usergreen.png);
	height : 16px;
	width : 16px;	
}
.redusr {
	background-image : url(../../resources/images/userred.png);
}
.greusr {
	background-image : url(../../resources/images/usergreen.png);
}
.wbnewtpl {
	background-image : url(../../resources/images/wbnewtpl.png);
}
.tariffs {
	background-image : url(../../resources/images/excel_.png);
}
.x-action-col-cell img.cut{
	background-image : url(../../resources/images/cut.png);
	height : 16px;
	width : 16px;	
}