.red-row {
	background-color: #fa9292 !important;
	color: red;
	border-color: #fa9292;
}

.print {
	background-image : url(../../resources/images/print.png);
}

.x-boundlist-item img.chkCombo {
	background: transparent url(../../resources/images/unchecked.gif);
	background-position:center;
	background-repeat:no-repeat;
	width: 7%;
	height: 7%;
	cursor : pointer;
}
.x-boundlist-selected img.chkCombo{
	background: transparent url(../../resources/images/checked.gif);
	background-position:center;
	background-repeat:no-repeat;
	width: 7%;
	height: 7%;
	cursor : pointer;
}
.smallComboField {
	font-size: 9px;
	margin-left: 3px
}
.smallComboText {
	font-size: 10px !important;
}

.exit-user {
	background-image : url(../../resources/images/exit.gif);
}
.x-action-col-cell img.ex-col {
	background-image : url(../../resources/images/ex.gif);
	height : 16px;
	width : 16px;
	cursor : pointer;
}
.excel {
	background-image : url(../../resources/images/excel_.png);
}
.import {
	background-image : url(../../resources/images/import.png);
}
.overduebox {
	background-image : url(../../resources/images/overdue.png);
}
.list {
	background-image : url(../../resources/images/list.png);
}
.templ {
	background-image : url(../../resources/images/template.png);
}
.wbno {
	background-image : url(../../resources/images/wbno.png);
}
.wbtemplate {
	background-image : url(../../resources/images/wbtemplate.jpg);	
	background-repeat: no-repeat;
	background-size: auto 540px;	
}
.wbview {
	background-image : url(../../resources/images/wbview.png);	
}
.longstr, textarea.x-form-field {
	background-color: transparent;
	border-style: none;
	background-image: none;
	font-family: Courier New;
}
.otherstr {		
	font-family: Courier New;
}
.newex {
	background-image : url(../../resources/images/newex.png);
}
.newpod {
	background-image : url(../../resources/images/newpod.png);
}
.filter {
	background-image : url(../../resources/images/filter_.png);
}
.inbox {
	background-image : url(../../resources/images/outbox.png);
}
.outbox {
	background-image : url(../../resources/images/inbox.png);
}
.ru{
	background-image : url(../../resources/images/ru.png);
}
.gb{
	background-image : url(../../resources/images/gb.png);
}
.key{
	background-image : url(../../resources/images/key.png);
}
.lang-button {
	width : 40px!important;
	display:block;
	white-space:nowrap;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:left;
	overflow:hidden
}
.allbox {
	background-image : url(../../resources/images/allbox.png);
}
.newdoc {
	background-image : url(../../resources/images/newdoc.png);
}
.newtpl {
	background-image : url(../../resources/images/fromtpl.png);
}
.help {
	background-image : url(../../resources/images/book.png);
}
.tariffs {
	background-image : url(../../resources/images/excel_.png);
}
.viewdoc {
	background-image : url(../../resources/images/viewdoc.png);
}
.editdoc {
	background-image : url(../../resources/images/editdoc.png);
}
.deldoc {
	background-image : url(../../resources/images/delet.png);
}
.adduser {
	background-image : url(../../resources/images/adduser.png);
}
.x-action-col-cell img.red-usr {
	background-image : url(../../resources/images/userred.png);
	height : 16px;
	width : 16px;	
}
.x-action-col-cell img.gre-usr {
	background-image : url(../../resources/images/usergreen.png);
	height : 16px;
	width : 16px;	
}
.redusr {
	background-image : url(../../resources/images/userred.png);
}
.greusr {
	background-image : url(../../resources/images/usergreen.png);
}
.x-action-col-cell img.cut{
	background-image : url(../../resources/images/cut.png);
	height : 16px;
	width : 16px;	
}
.track {
	background-image : url(../../resources/images/track.png);
}